@font-face {
  font-family: 'ApercuPro';
  src: url('../font/ApercuPro-Regular.eot');
  src: url('../font/ApercuPro-Regular.woff2') format('woff2'),
  url('../font/ApercuPro-Regular.woff') format('woff'),
  url('../font/ApercuPro-Regular.ttf') format('truetype'),
  url('../font/ApercuPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro';
  src: url('../font/ApercuPro-Medium.eot');
  src: url('../font/ApercuPro-Medium.woff2') format('woff2'),
  url('../font/ApercuPro-Medium.woff') format('woff'),
  url('../font/ApercuPro-Medium.ttf') format('truetype'),
  url('../font/ApercuPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro';
  src: url('../font/ApercuPro-Bold.eot');
  src: url('../font/ApercuPro-Bold.woff2') format('woff2'),
  url('../font/ApercuPro-Bold.woff') format('woff'),
  url('../font/ApercuPro-Bold.ttf') format('truetype'),
  url('../font/ApercuPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}