.custom-button {
  margin-top: 32px;
  margin-left: -6px;
}

.custom-button2 {
  margin-top: 6px;
  margin-left: -25px;
}

.custom-label {
  margin-top: 6px;
  font-weight: bold;
}

.tables-wrap {
  margin-bottom: 100px;
}
