

<!-- PAGES TITLE -->

<div class="pages-title-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="pages-title">EXPORT</h1>
      </div>
    </div>
  </div>
</div>

<!-- /PAGES TITLE -->

<!-- SELECT SECTIONS -->

<div class="selects-wrap tables-title-list-wrap select-de">
  <select [(ngModel)]="currentSection" name="tables-title-list" id="dropdown-tables-title-list" class="select-de">
    <option value="Incoming shipment">Incoming shipment</option>
    <option value="Containers">Containers</option>
  </select>
  <i class="fas fa-chevron-down"></i>
</div>

<!-- /SELECT SECTIONS -->

<!-- INCOMING SHIPMENT SECTION -->

<section class="tables-wrap incoming-shipment" [class.active]="currentSection == 'Incoming shipment'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="tables-title">Incoming shipment</h3>

        <!-- INCOMING SHIPMENT TABLE -->

        <div class="table">

          <!-- TABLE ROW -->

          <div class="tr tr-main-table bg-light-grey">
            <div class="th max-w-10">EXPECTED DATE</div>
            <div class="th max-w-10">SENDER</div>
            <div class="th max-w-10">SHIPPER</div>
            <div class="th max-w-19">CODE</div>
            <div class="th max-w-8">№</div>
            <div class="th max-w-16">CUSTOMER NAME</div>
            <div class="th max-w-17">DESTINATION</div>
            <div class="th max-w-10">CONTAINER</div>
          </div>

          <!-- /TABLE ROW -->

          <!-- TABLE ROW -->

          <div *ngFor="let shipment of shipments" class="tr tr-main-table"
               (click)="openShipmentsPop(shipment.id, shipment.id + shipment.code)"
               [ngClass]="{'open': shipmentsPop === (shipment.id + shipment.code)}">

            <div class="td  max-w-10 expected-date"><span>{{shipment.expectedDate | date:'MMM d y'}}</span></div>
            <div class="td  max-w-10 sender"><span>{{shipment.sender}}</span></div>
            <div class="td  max-w-10 shipper"><span>{{shipment.shipper}}</span></div>
            <div class="td  max-w-19 code"><span>{{shipment.code}}</span></div>
            <div class="td  max-w-8 number"><span>{{shipment.id}}</span></div>
            <div class="td  max-w-16 customer-name"><span>{{shipment.customer}}</span></div>
            <div class="td  max-w-17 destination"><span>{{shipment.destination}}</span></div>
            <div class="td  max-w-10 container-th"><span>{{shipment.trip}}</span></div>

            <!-- TABLES POPUP -->

            <div class="popup-window popup-incoming-shipment" (click)="$event.stopPropagation()">
              <div class="info-bar">
                <div class="date-cell">{{currentShipment['expectedDate'] | date:'MMM d y'}}</div>
                <div class="container-cell"><span>{{currentShipment['sender']}}</span>|<span>{{currentShipment['shipper']}}</span></div>
                <ul class="icon-list">
                  <li>
                    <div class="icon-popup-container-wrap" [class.active]="currentShipmentImagesPopap">
                      <i class="fas fa-camera" (click)="openImagesPopap()"></i>
                      <div class="popup-container photo-popup" [class.open]="currentShipmentImagesPopap">
                        <span class="title-popup">Photo</span>
                        <div class="download-img" *ngFor="let image of currentShipmentImagesList">
                          <img [src]="image.img" [alt]="image.title">
                          <div class="overlay">
                            <i class="fas fa-cloud-download-alt"></i>
                          </div>
                        </div>
                        <span class="upload-new">Upload new</span>
                        <div class="upload-icon">
                          <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="popup-btn-close popup-container-btn-close" (click)="closeImagesPopap()"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="icon-popup-container-wrap" [class.active]="currentShipmentDocumentsPopap">
                      <i class="fas fa-file-alt" (click)="openDocumentsPopap()"></i>
                      <div class="popup-container photo-popup" [class.open]="currentShipmentDocumentsPopap">
                        <span class="title-popup">Invoice</span>
                        <div class="download-img" *ngFor="let document of currentShipmentDocumentsList">
                          <img [src]="document.img" [alt]="document.title">
                          <div class="overlay">
                            <i class="fas fa-cloud-download-alt"></i>
                          </div>
                        </div>
                        <span class="upload-new">Upload new</span>
                        <div class="upload-icon">
                          <i class="fas fa-cloud-upload-alt"></i>
                        </div>
                        <div class="popup-btn-close popup-container-btn-close" (click)="closeDocumentsPopap()"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="icon-popup-container-wrap" [class.active]="currentShipmentProblemPopap">
                      <i class="fas fa-exclamation-triangle" (click)="openProblemsPopap()"></i>
                      <div class="popup-container problem-popup" [class.open]="currentShipmentProblemPopap">
                        <form action="#" method="post">
                          <div class="selects-wrap selects-problem-wrap select-de">
                            <select name="problem-list" id="dropdown-problem-list">
                              <option value="0">Select problem</option>
                            </select>
                            <i class="fas fa-chevron-down"></i>
                          </div>
                          <textarea name="message-problem" id="message-problem-field" placeholder="Message" rows="3"></textarea>
                          <button type="submit" class="btn-submit-form">send</button>
                        </form>
                        <div class="popup-btn-close popup-container-btn-close" (click)="closeProblemsPopap()"></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="table-popup">
                <div class="tr tr-table-popup">
                  <div class="th">PRODUCT:</div>
                  <div class="th">HS CODE:</div>
                  <div class="th">№</div>
                  <div class="th">WEIGHT:</div>
                  <div class="th">VOLUME:</div>
                  <div class="th tar-m">VALUE:</div>
                </div>
                <div class="tr tr-table-popup" *ngFor="let package of currentShipment['packages']">
                  <div class="td product"><span>{{currentShipment['product']}}</span></div>
                  <div class="td hs-code"><span>{{currentShipment['hsCode']}}</span></div>
                  <div class="td number-popup-cell"><span>1</span></div>
                  <div class="td weight"><span>{{package['weight']}}</span></div>
                  <div class="td volume"><span>{{package['volume']}}</span></div>
                  <div class="td value tar-m"><span>{{package['value']}}</span></div>
                </div>
              </div>
              <div class="total-line">
                <p class="total-value">TOTAL WEIGHT: <span>28 kg</span></p>
                <p class="total-value">TOTAL VOLUME: <span>0,62 cbm</span></p>
                <p class="total-value">TOTAL VALUE: <span>{{getTotalValue(currentShipment['packages'])}}</span></p>
              </div>
              <div class="cf"></div>
              <div class="footer-line">
                <form action="">
                  <div class="selects-wrap select-de">
                    <select id="dropdown-product-info" class="select-de"
                            [(ngModel)]="shipmentContainer" name="product-info">
                      <option *ngFor="let shipmentContainer of shipmentContainersList" [value]="shipmentContainer.id">
                        {{shipmentContainer.trip + ' (Last receiving date: ' + shipmentContainer.lastReceivingDate + ' Loading date: ' + shipmentContainer.loadingDate + ')'}}
                      </option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                  </div>
                  <button class="btn-submit-form btn-submit-popup-window"
                          [disabled]="!shipmentContainersList.length"
                          (click)="setShipmentContainer(shipment.id)"
                  >confirm</button>
                </form>
              </div>
              <div class="popup-btn-close close-container-btn" (click)="close()"></div>
            </div>

            <!-- /TABLE POPUP -->

          </div>

          <!-- /TABLE ROW -->

        </div>

        <!-- /INCOMING SHIPMENT TABLE -->

      </div>
    </div>
  </div>
</section>

<!-- /INCOMING SHIPMENT SECTION -->

<!-- CONTAINER SECTION -->

<section class="tables-wrap containers-section-table" [class.active]="currentSection == 'Containers'">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <!-- TABLES TITLE -->

        <h3 class="tables-title">Containers</h3>

        <!-- /TABLES TITLE -->

        <!-- TABLES CONTAINER -->

        <div class="table">

          <!-- TABLES ROW -->

          <div class="tr tr-main-table bg-dark-grey">
            <div class="th max-w-18">NUMBER</div>
            <div class="th max-w-11">STATUS</div>
            <div class="th max-w-9">SIZE</div>
            <div class="th max-w-14">LAST RECEIVING DATE</div>
            <div class="th max-w-15">LOADING DATE</div>
            <div class="th max-w-14">DESTINATION</div>
            <div class="th max-w-11">% FILLED</div>
            <div class="th max-w-8">№</div>
          </div>

          <!-- /TABLES ROW -->

          <!-- TABLES ROW -->

          <div class="tr tr-main-table"
               *ngFor="let container of containers"
               (click)="openContainerPop(container.id, container.id + container.number)"
               [ngClass]="{'open': containerPop === (container.id + container.number)}">
            <div class="td  max-w-18 number-containers-table"><span>{{container.trip}}</span></div>
            <div class="td  max-w-11 status"><span>{{container.status}}</span></div>
            <div class="td  max-w-9 size"><span>{{container.size}}</span></div>
            <div class="td  max-w-14 closing-date"><span>{{container.lastReceivingDate | date:'MMM d y'}}</span></div>
            <div class="td  max-w-15 shipping-date"><span>{{container.loadingDate | date:'MMM d y'}}</span></div>
            <div class="td  max-w-14 destination"><span>{{container.destination}}</span></div>
            <div class="td  max-w-11 filled"><span>{{container.fillRate}}</span></div>
            <div class="td  max-w-8 number"><span>{{container.numPackages}}</span></div>

            <!-- TABLES POPUP -->

            <div class="popup-window popup-containers-section" (click)="$event.stopPropagation()">
              <div class="info-bar">
                <div class="container-cell">
                  <span>{{container.trip + ' (' +
                    (container.lastReceivingDate ? 'Last receiving date: ' + container.lastReceivingDate : '') +
                    (container.loadingDate ? ' Loading date: ' + container.loadingDate : '') + ')'}}</span>
                </div>
                <div class="icon-list">
                  <div class="icon-popup-container-wrap" [class.active]="currentContainerDocumentsPopap">
                    <i class="fas fa-file-alt" (click)="openContainerDocumentsPopap()"></i>
                    <div class="popup-container photo-popup" [class.open]="currentContainerDocumentsPopap">
                      <span class="title-popup">Invoice</span>
                      <div class="download-img" *ngFor="let document of currentContainerDocumentsList">
                        <img [src]="document.img" [alt]="document.title">
                        <div class="overlay">
                          <i class="fas fa-cloud-download-alt"></i>
                        </div>
                      </div>
                      <span class="upload-new">Upload new</span>
                      <div class="upload-icon">
                        <i class="fas fa-cloud-upload-alt"></i>
                      </div>
                      <div class="popup-btn-close popup-container-btn-close" (click)="closeContainerDocumentsPopap()"></div>
                    </div>
                  </div>
                </div>

                <div class="container-cell">
                  <select [(ngModel)]="container.size" name="container-size" class="select-de">
                    <option value="40 ft HC">40 ft HC</option>
                    <option value="40 ft">40 ft</option>
                    <option value="20 ft">20 ft</option>
                  </select>
                </div>

                <div class="btn-close-text-wrap">
                  <button
                    [disabled]="!container.size || !container.number || !container.sealNumber || !container.BOLNumber"
                    (click)="closeContainer(container)"
                    type="button" class="btn-close-text">CLOSE</button>
                </div>

                <div class="container-cell">
                  <input type="text" class="input-custom-style" placeholder="Container Number" name="container-number" [(ngModel)]="container.number">
                </div>

                <div class="container-cell">
                  <input type="text" class="input-custom-style" placeholder="Seal Number" name="container-seal-number" [(ngModel)]="container.sealNumber">
                </div>

                <div class="container-cell">
                  <input type="text" class="input-custom-style" placeholder="Bill of lading Number" name="container-bol-number" [(ngModel)]="container.BOLNumber">
                </div>

              </div>
              <div class="table-popup container-table-popup">
                <div class="tr tr-table-popup">
                  <div class="th">VESSEL</div>
                  <div class="th">AGENT NUMBER</div>
                  <div class="th">SHIPPER NUMBER</div>
                  <div class="th">№</div>
                  <div class="th">VESSEL TRIP</div>
                  <div class="th cell-total-heading">TOTAL WEIGHT</div>
                  <div class="th cell-total-heading">TOTAL VOLUME</div>
                  <div class="th cell-total-heading">TOTAL VALUE</div>
                </div>
                <div class="tr tr-table-popup">
                  <div class="td vessel"><span>{{container.vessel?.name}}</span></div>
                  <div class="td agent-number"><span>{{container.vessel?.agentNumber}}</span></div>
                  <div class="td shippeer-number"><span>{{container.vessel?.shippeerNumber}}</span></div>
                  <div class="td number-popup-cell"><span>{{container.numPackages}}</span></div>
                  <div class="td trip-number">
                    <ng-container *ngIf="container.vessel">
                      <input type="text" class="input-custom-style" name="vessel-trip-number" [(ngModel)]="container.vessel.tripNumber">
                    </ng-container>
                  </div>
                  <div class="td total-weight cell-total-value"><span>{{container.totalWeight}}</span></div>
                  <div class="td total-volume cell-total-value"><span>{{container.totalVolume}}</span></div>
                  <div class="td total-volume cell-total-value"><span> </span></div>
                </div>
              </div>
              <p class="container-table-popup-heading">PACKAGES 1</p>
              <div class="table-popup container-table-popup table-popup-with-total-line">
                <div class="tr tr-table-popup">
                  <div class="th">PRODUCT</div>
                  <div class="th">CODE</div>
                  <div class="th">HS CODE</div>
                  <div class="th">RECEIVED</div>
                  <div class="th">№</div>
                  <div class="th"></div>
                </div>
                <ng-container *ngFor="let containerProduct of containerProductsList">
                  <div class="tr tr-table-popup">
                    <div class="td product"><span>{{containerProduct.name}}</span></div>
                    <div class="td code"><span>{{containerProduct.code}}</span></div>
                    <div class="td hs-code"><span>{{containerProduct.hsCode}}</span></div>
                    <div class="td received"><span>{{containerProduct.date}}</span></div>
                    <div class="td number-popup-cell"><span>1</span></div>
                    <div class="td total-weight cell-total-value visible-mob"><span>{{containerProduct.packages[0].weight}}</span></div>
                    <div class="td total-volume cell-total-value visible-mob"><span>{{containerProduct.packages[0].volume}}</span></div>
                    <div class="td">
                      <ul class="icon-list tar-m">
                        <li>
                          <div class="icon-popup-container-wrap" [class.active]="containerProductImagesPopap == containerProduct.id+containerProduct.hsCode">
                            <i class="fas fa-camera" (click)="openContainerProductImagesPopap(containerProduct)"></i>
                            <div class="popup-container photo-popup" [class.open]="containerProductImagesPopap == containerProduct.id+containerProduct.hsCode">
                              <span class="title-popup">Photo</span>
                              <div class="download-img" *ngFor="let image of containerProduct.imagesList">
                                <img [src]="image.img" [alt]="image.title">
                                <div class="overlay">
                                  <i class="fas fa-cloud-download-alt"></i>
                                </div>
                              </div>
                              <span class="upload-new">Upload new</span>
                              <div class="upload-icon">
                                <i class="fas fa-cloud-upload-alt"></i>
                              </div>
                              <div class="popup-btn-close popup-container-btn-close" (click)="closeContainerProductImagesPopap()"></div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="icon-popup-container-wrap" [class.active]="containerProductDocumentsPopap == containerProduct.id+containerProduct.hsCode">
                            <i class="fas fa-file-alt" (click)="openContainerProductDocumentsPopap(containerProduct)"></i>
                            <div class="popup-container photo-popup" [class.open]="containerProductDocumentsPopap == containerProduct.id+containerProduct.hsCode">
                              <span class="title-popup">Invoice</span>
                              <div class="download-img" *ngFor="let document of containerProduct.documentsList">
                                <img [src]="document.img" [alt]="document.title">
                                <div class="overlay">
                                  <i class="fas fa-cloud-download-alt"></i>
                                </div>
                              </div>
                              <span class="upload-new">Upload new</span>
                              <div class="upload-icon">
                                <i class="fas fa-cloud-upload-alt"></i>
                              </div>
                              <div class="popup-btn-close popup-container-btn-close" (click)="closeContainerProductDocumentsPopap()"></div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <button type="button" class="btn-trash" (click)="removeProductFromContainer(container.id, containerProduct.id)">
                            <i class="fas fa-angle-double-right"></i>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tr tr-total-line">
                    <div class="total-line">
                      <p class="total-value">TOTAL WEIGHT: <span>{{containerProduct.packages[0].weight}}</span></p>
                      <p class="total-value">TOTAL VOLUME: <span>{{containerProduct.packages[0].volume}}</span></p>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="cf"></div>
              <div class="popup-btn-close close-container-btn" (click)="close()"></div>
            </div>

            <!-- /TABLES POPUP -->

          </div>

          <!-- /TABLES ROW -->

        </div>

        <!-- /TABLE CONTAINER -->

      </div>
    </div>
  </div>
</section>

<!-- /CONTAINER SECTION -->


