
<!-- PAGES TITLE -->

<div class="pages-title-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="pages-title">LAST MILE</h1>
      </div>
    </div>
  </div>
</div>

<!-- /PAGES TITLE -->

<!--&lt;!&ndash; SELECT SECTIONS &ndash;&gt;-->

<!--<div class="selects-wrap tables-title-list-wrap select-de">-->
<!--<select name="tables-title-list" id="dropdown-tables-title-list" class="select-de">-->
<!--<option value="deliveries">DELIVERIES</option>-->
<!--</select>-->
<!--<i class="fas fa-chevron-down"></i>-->
<!--</div>-->

<!--&lt;!&ndash; /SELECT SECTIONS &ndash;&gt;-->

<!-- DELIVERIES SECTION -->



<!-- /DELIVERIES SECTION -->
